<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>راس‌گیر چک</title>

  <link rel="stylesheet" href="css/app.css">
</head>
<body>

  <div id="app" style="width: 700px; max-width: 100%;" class="mx-auto px-5">
    <div class="flex mx-auto my-20">
      <div class="w-1/2 pl-4">
        <div>
          <div class="mb-3 w-full flex flex-wrap items-center">
            <label class="w-1/3 text-left pl-3">شماره فاکتور</label>
            <input type="text" v-model="newInvoice.number" v-on:keyup.enter="addNewInvoice" class="w-2/3" autofocus>
          </div>
          <div class="mb-3 w-full flex flex-wrap items-center">
            <label class="w-1/3 text-left pl-3">تاریخ فاکتور</label>
            <input type="text" v-model="newInvoice.date" v-on:keyup.enter="addNewInvoice" class="w-2/3">
          </div>
          <div class="mb-3 w-full flex flex-wrap items-center">
            <label class="w-1/3 text-left pl-3">مبلغ فاکتور</label>
            <input type="text" v-model="newInvoice.amount" v-on:keyup.enter="addNewInvoice" class="w-2/3">
          </div>
        </div>
        <div class="w-full px-3 py-5 mt-5 text-sm text-center border-t-2 border-gray-200">
          <a class="ml-3" v-on:click="readInvoicesFromClipBoard">خواندن محتوای کپی شده</a>
          <a class="mr-3">مشاهده</a>
          <div class="mt-5">{{ invoices.length }} عدد با مجموع {{ totalAmountOfInvoices }} ریال</div>
        </div>
      </div>
      <div class="w-1/2 pr-4">
        <div>
          <div class="mb-3 w-full flex flex-wrap items-center">
            <label class="w-1/3 text-left pl-3">شماره چک</label>
            <input type="text" v-model="newCheck.number" v-on:keyup.enter="addNewCheck" class="w-2/3">
          </div>
          <div class="mb-3 w-full flex flex-wrap items-center">
            <label class="w-1/3 text-left pl-3">تاریخ سررسید</label>
            <input type="text" v-model="newCheck.date" v-on:keyup.enter="addNewCheck" class="w-2/3">
          </div>
          <div class="mb-3 w-full flex flex-wrap items-center">
            <label class="w-1/3 text-left pl-3">مبلغ چک</label>
            <input type="text" v-model="newCheck.amount" v-on:keyup.enter="addNewCheck" class="w-2/3">
          </div>
        </div>
        <div class="w-full px-3 py-5 mt-5 text-sm text-center border-t-2 border-gray-200">
          <a class="ml-3" v-on:click="readChecksFromClipBoard">خواندن محتوای کپی شده</a>
          <a class="mr-3">مشاهده</a>
          <div class="mt-5">{{ checks.length }} عدد با مجموع {{ totalAmountOfChecks }} ریال</div>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <button class="text-white bg-blue-400 px-10 py-3 block mx-auto rounded rounded-full" v-on:click="calculate">محاسبه</button>
      <div class="px-3 pt-3 pb-1 block text-2xl text-center text-blue-900 rounded-full font-bold">راس چک: {{ result }}</div>
      <a class="block text-center text-blue-400" v-on:click="reset">دوباره</button>
    </div>
  </div>
  
  <script src="js/persian-date.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>